.window{
    
    width: 900px;
    background-color: black;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
    color: white;
.nav{

    padding-inline: 0.75rem;
    padding-block: 0.50rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.723);

    display: flex ;
    align-items: center;
    gap: 1.5rem;

.dots{
    display: flex;
    gap: 5px;

       .dot{
        height: 16px;
        width: 16px;
        background-color: white;
        border-radius: 50%;
    }

    .red{
        background-color: rgb(246, 74, 74);
    }

    .yellow{
        background-color: rgb(246, 221, 74);
    }

    .green{
        background-color: rgb(89, 251, 89);
}

 
}
}
.title{
    color: rgba(255, 255, 255, 0.788);
    font-weight: 500;
}
}

.main-containt{
    height: 100%;
}