nav{
    width: 100%;
    color: white;
    padding-inline: 0.50rem;
    padding-block: 0.25rem;
    background-color: rgba(153, 151, 151, 0.197);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left, .right{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 1rem;
    }

  .nav-icon img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
}