*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(/public/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

body{
    background-color: black;
}